.test {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

.hero-test {
  background-color: lightslategray;
  padding: 2%;
  margin-right: 6%;
  width: 60%;
  display: inline-block;
  float: right;
}

.hero {
  /* background-color: lightslategray; */
  /* position: fixed; */
  /* padding: 450px; */
  margin: 500px;
  /* margin-left: 1500px; */
  width: 60%;

  display: inline-block;
  float: right;

  text-align: middle;
  font-size: 30px;
  font-family: Cursive;
}

.nav {
  position: fixed;
  /* this make sure that it dont move around with the camera */
  padding: 2%;
  width: 26%;
  height: 100%;
  display: inline-block;
  align-items: flex-end;
}

.nav img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.body {
  /* margin: 50; */
  /* padding: 50; */

  position: fixed;
  background-repeat: no-repeat;
  /* background-image: url("/image/1_2_background.png"); */
}

.line1 {
  background-image: url("/image/1_2_background.png");
}

/* when I figuer this out, I was so proud :) */

.line2 {
  background-image: url("/image/2_2_background.png")
}

.line3 {
  background-image: url("/image/3_2_background.png")
}

.line4 {
  background-image: url("/image/4_2_background.png")
}


.poem-first-line {
  margin-left: 1550px;
}

.poem-second-line {
  margin-left: 1100px;
}

.poem-third-line {
  margin-left: 1450px;
}

.poem-fourth-line {
  margin-left: 1400px;
}


.animation-ex {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  animation-name: ani-ex;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

@keyframes ani-ex {
  0% {
    background-color: rgba(214, 198, 228, 0.3);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    background-color: rgba(214, 198, 228, 0.3);
  }


  /* from {
    background-color: rgb(221, 209, 232);
  }

  to {
    background-color: rgb(255, 255, 255);
  } */

}

mark {
  background-color: rgba(214, 198, 228, 0.3);
  color: rgb(96, 54, 133);
}

.blue-square {
  width: 50px;
  height: 50px;
  background-color: blue;
  cursor: pointer;
}

.red-square {
  width: 50px;
  height: 50px;
  background-color: red;
  display: none;
}

.blue-square.clicked+.red-square {
  display: show;
}