.hero {
  /* background-color: lightslategray; */
  /* position: fixed; */
  /* padding: 450px; */
  margin: 500px;
  /* margin-left: 1500px; */
  width: 60%;

  display: inline-block;
  float: right;

  text-align: middle;
  font-size: 30px;
  font-family: Cursive;
}

.nav {
  position: fixed;
  /* this make sure that it dont move around with the camera */
  padding: 2%;
  width: 26%;
  height: 100%;
  display: inline-block;
  align-items: flex-end;
}

.nav img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.body {
  /* margin: 50; */
  /* padding: 50; */

  position: fixed;
  background-repeat: no-repeat;
  /* background-image: url("/image/1_2_background.png"); */
}

/* background picture placing */
.line1 {
  background-image: url("/image/1_2_background.png");
}

/* when I figuer this out, I was so proud :) */

.line2 {
  background-image: url("/image/2_2_background.png")
}

.line3 {
  background-image: url("/image/3_2_background.png")
}

.line4 {
  background-image: url("/image/4_2_background.png")
}

/* line position placing */
.poem-first-line {
  margin-left: 1550px;
}

.poem-second-line {
  margin-left: 1100px;
}

.poem-third-line {
  margin-left: 1450px;
}

.poem-fourth-line {
  margin-left: 1400px;
}

.animation-ex {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  animation-name: ani-ex;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

/* highlight */
mark {
  background-color: rgba(214, 198, 228, 0.3);
  color: rgb(96, 54, 133);
}

.button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #8a68d4a0;
  cursor: pointer;
  position: absolute;
}

/* Image Animation */
.image_line1 {
  /* overflow: hidden; */
  position: absolute;
  transition-duration: 0.8s;
  transition-property: transform;
}

.image_line1:hover {
  transform: rotate(20deg);
  -webkit-transform: rotate(-10deg);
}

.image_line2 {
  /* overflow: hidden; */
  position: absolute;
  transition-duration: 0.1s;
  transition-property: transform;
}

.image_line2:hover {
  transform: translateX(0px);
  -webkit-transform: translateY(-5px);
}

.image_line3 {
  /* overflow: hidden; */
  position: absolute;
  transition-duration: 2s;
  transition-property: transform;
}

.image_line3:hover {
  transform: translateX(3px);
  -webkit-transform: translateY(-100px);
}

/* Start animation */
.stars {
  background-color: white;
  border-radius: 50%;
  animation-iteration-count: infinite;
  position: absolute;
}

/* this is so long, I wonder if there's a faster way to do this? */
.star-1 {
  height: 17px;
  width: 17px;

  top: 20px;
  left: 50px;
  animation-name: twinkle;
  animation-duration: 1.5s;
}

.star-2 {
  height: 10px;
  width: 10px;

  top: 300px;
  left: 50px;
  animation-name: twinkle;
  animation-duration: 1s;
}

.star-3 {
  height: 15px;
  width: 15px;

  top: 160px;
  left: 160px;
  animation-name: twinkle;
  animation-duration: 2s;
}

.star-4 {
  height: 5px;
  width: 5px;

  top: 70px;
  left: 135px;
  animation-name: twinkle;
  animation-duration: 5s;
}

.star-5 {
  height: 10px;
  width: 10px;

  top: 30px;
  left: 330px;
  animation-name: twinkle;
  animation-duration: 3s;
}

.star-6 {
  height: 15px;
  width: 15px;

  top: 350px;
  left: 260px;
  animation-name: twinkle;
  animation-duration: 2.2s;
}

.star-7 {
  height: 13px;
  width: 13px;

  top: 200px;
  left: 390px;
  animation-name: twinkle;
  animation-duration: 1.5s;
}

.star-7 {
  height: 20px;
  width: 20px;

  top: 385px;
  left: 465px;
  animation-name: twinkle;
  animation-duration: 3s;
}

.star-8 {
  height: 10px;
  width: 10px;

  top: 195px;
  left: 370px;
  animation-name: twinkle;
  animation-duration: 1.7s;
}

.star-9 {
  height: 7px;
  width: 7px;

  top: 100px;
  left: 445px;
  animation-name: twinkle;
  animation-duration: 2.3s;
}

.star-10 {
  height: 15px;
  width: 15px;

  top: 245px;
  left: 585px;
  animation-name: twinkle;
  animation-duration: 2s;
}

.star-11 {
  height: 5px;
  width: 5px;

  top: 290px;
  left: 415px;
  animation-name: twinkle;
  animation-duration: 1s;
}

.star-12 {
  height: 5px;
  width: 5px;

  top: 25px;
  left: 625px;
  animation-name: twinkle;
  animation-duration: 1.3s;
}

.star-13 {
  height: 7px;
  width: 7px;

  top: 320px;
  left: 650px;
  animation-name: twinkle;
  animation-duration: 3.1s;
}

.star-14 {
  height: 10px;
  width: 10px;

  top: 75px;
  left: 1290px;
  animation-name: twinkle;
  animation-duration: 2s;
}

.star-15 {
  height: 15px;
  width: 15px;

  top: 200px;
  left: 1365px;
  animation-name: twinkle;
  animation-duration: 2.4s;
}

.star-16 {
  height: 15px;
  width: 15px;

  top: 355px;
  left: 1180px;
  animation-name: twinkle;
  animation-duration: 1.7s;
}

.star-17 {
  height: 3px;
  width: 3px;

  top: 543px;
  left: 311px;
  animation-name: twinkle;
  animation-duration: 1.7s;
}

.star-18 {
  height: 5px;
  width: 5px;

  top: 415px;
  left: 110px;
  animation-name: twinkle;
  animation-duration: 1.3s;
}

.star-19 {
  height: 3px;
  width: 3px;

  top: 195px;
  left: 1210px;
  animation-name: twinkle;
  animation-duration: 2.3s;
}

.star-20 {
  height: 3px;
  width: 3px;

  top: 415px;
  left: 1295px;
  animation-name: twinkle;
  animation-duration: 2.1s;
}

@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

.moving-image {
  position: absolute;
  animation: move-back-and-forth 5s linear infinite alternate;
}

@keyframes move-back-and-forth {
  0% {
    left: 0;
  }

  100% {
    left: calc(10vw - 50px);
  }
}

/* other testing area */
.test {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

.hero-test {
  background-color: lightslategray;
  padding: 2%;
  margin-right: 6%;
  width: 60%;
  display: inline-block;
  float: right;
}

@keyframes ani-ex {
  0% {
    background-color: rgba(214, 198, 228, 0.3);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  100% {
    background-color: rgba(214, 198, 228, 0.3);
  }


  /* from {
    background-color: rgb(221, 209, 232);
  }

  to {
    background-color: rgb(255, 255, 255);
  } */

}

.blue-square {
  width: 50px;
  height: 50px;
  background-color: blue;
  cursor: pointer;
}

.red-square {
  width: 50px;
  height: 50px;
  background-color: red;
  display: none;
}

.blue-square.clicked+.red-square {
  display: show;
}

/* POSITION OF THE MOUSE */
#square {
  /* width: 50px;
  height: 50px;
  background-color: purple; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
}